h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

h1 span{
font-weight:400;
}


body{
    background: #002e5b;
    background:url(images/pexels-luis-quintero-2014775.jpg);
    background-size: cover;
    margin:0px; 
    padding:0px; 
    font-family: 'Poppins', sans-serif;
   
  
  }

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav li{
    display: inline-block;
    list-style-type: none;
    background: rgb(235, 232, 217) ;
  
}
nav li:hover{
    box-shadow: 0 0 5px red, 
    0 0 25px cyan, 0 0 50px red ,
    0 0 100px cyan, 0 0 200px cyan;
    background: #ffff;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25;
    padding-right: 25;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}

@keyframes wave {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(25px) translateY(-10px);
    }
    50% {
      transform: translateX(0) translateY(0);
    }
    75% {
      transform: translateX(-25px) translateY(10px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  
  .content {
    animation: wave 3s ease-in-out;
  }
  

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*----------brands--------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
 
/*-------- footer -------*/
.footer{
    background: radial-gradient(#fff,#ffd6d6);
    color: #000;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
     color: #000;
}
.footer h3{
    color: #000;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex:1;
    text-align: center;
}
.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px; 
}
.footer-col-2, .footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
.ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*-------- media query for menu----------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*-----media query for less than 600 screen size--------*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    } 
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}